{% extends "base.html" %}

{% block title %}Detalle de Publicación{% endblock %}

{% block content %}

    <h1>{{ post.Titulo }}</h1>
    <p><strong>Autor:</strong> {{ post.Autor.username }}</p>
    <p><strong>Fecha de Publicación:</strong> {{ post.Fecha_de_Publicacion|date:"d M Y H:i" }}</p>
    <div>
        <h2>Contenido:</h2>
        <p>{{ post.Contenido }}</p>
    </div>
    <a href="{% url 'lista_post' %}">Volver a la lista</a>
    <br>
    <br>
    {% if request.user == post.Autor %}
        <a href="{% url 'eliminar_post' post.id %}">Eliminar</a>
    {% endif %}


{% endblock %}
